<%= form_for(@link) do |f| %>
<% if @link.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

  <ul>
    <% @link.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group field">
  <%= f.label :url %><br>
  <%= f.text_field :url, autofocus: true, class: "form-control" %>
</div>

<% if action_name == 'edit'%>
<div class="form-group field">
  <%= f.label :read %><br>
  <%= f.check_box :read %>
</div>
<% end %>

<div class="actions">
  <%= f.submit 'Save', class: 'btn btn-default' %>
</div>
<% end %>
