<%# add navigation links to this file %>
<ul class="nav navbar-nav">
  <!-- <li><%= link_to 'Links', links_path %></li> -->
  <!-- <li><%= link_to 'Help', page_path('help') %></li> -->
</ul>
<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
  <li>
    <%= link_to '✚ Add Link', new_link_path %>
  </li>
  <li class="dropdown">
    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"><%= current_user.name %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Profile',  edit_user_registration_path(current_user) %></li>
      <li><%= link_to 'Help', page_path('help') %></li>
      <li class="divider" role="separator"></li>
      <li><%= link_to 'Logout',  destroy_user_session_path, :method => :delete  %></li>
    </ul>
  </li>

  <% else %>
  <li><%= link_to 'Login',  new_user_session_path %></li>
  <% end %>
</ul>
